<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Zhihu Analytics Service</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }} " rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }} " rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='theme.css') }} " rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body role="document">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{url_for('show_msg')}}">Home</a></li>
          <li><a href="{{url_for('show_about')}}">About</a></li>
          <li><a href="{{url_for('show_contact')}}">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu1" type="button" role="button" aria-haspopup="true"
            aria-expanded="false">Top Users<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-laeblledby="menu1">
                <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('show_msg')}}">Top 10 Agrees</a></li>
                <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('show_msg')}}">Top 10 Thanks</a></li>
                <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('show_msg')}}">Top 10 Followers</a></li>
                <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('show_msg')}}">Top 10 Followees</a></li>
              </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu2" type="button" role="button" aria-haspopup="true"
            aria-expanded="false">Top Contents<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-laeblledby="menu2">
                <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('show_msg')}}">Top 10 Questions</a></li>
                <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('show_msg')}}">Top 10 Answers</a></li>
              </ul>
          </li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <ul class=glob>

      <div class="jumbotron">
        <h1>Welcome to Zhihu Analytic Service</h1>
        <p>Zhihu is a Chinese question-and-answer website where questions are created, answered, edited and organized by the community of its users. This web service is developed in python for crawling large data of users and questions-answers information, as well as data storage, analysis, and visualization.</p>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Find User From UID</h3>
            </div>
            <div class="panel-body">
              <form action="{{ url_for('add_person') }}" method=get class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" placeholder="UID" name = "UID" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Find</button>
              </form>
            </div>
          </div>
          <h2>Author: Min Xu</h2>
          <p>PhD ABD Candidate at Carnegie Mellon University, Department of Electrical and Computer Engineering</p>
          <p>Email to xumin9096@gmail.com</p>
          <div class="row">
            <div class="col-lg-4">
              <h2>Linkedin</h2>
              <p><a href="https://www.linkedin.com/in/min-xu-978a2248"> <img src="{{url_for('static', filename = 'figures/linkedin.png')}}" class="img-thumbnail" ></img></a></p>
            </div>
            <div class="col-lg-4">
              <h2>Github</h2>
              <p><a href="https://github.com/xmanswer" ><img src="{{url_for('static', filename = 'figures/github.png')}}" class="img-thumbnail"</img></a></p>
           </div>
           <div class="col-lg-4">
             <h2>Facebook</h2>
             <p><a href="https://www.facebook.com/xu.min.355"> <img src="{{url_for('static', filename = 'figures/facebook.png')}}" class="img-thumbnail" ></img></a></p>
          </div>
          </div>
      </div>
    </ul>

  </div>



</body>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/docs.min.js')}}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{url_for('static', filename = 'js/ie10-viewport-bug-workaround.js')}}"></script>
  </body>
</html>
