<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Zhihu Analytics Service</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }} " rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }} " rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='theme.css') }} " rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{url_for('static', filename = 'js/d3.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3.node.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3-cloud-master/index.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3-cloud-master/build/d3.layout.cloud.js')}}"></script>
</head>

<body role="document">
  <script>d3.select("body").style("background-color", "#333");</script>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if request.path == "/" %} class="active"{% endif%} ><a href="{{url_for('show_msg')}}">Home</a></li>
          <li {% if request.path == "/users" %} class="active"{% endif%} class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu1" type="button" role="button" aria-haspopup="true"
            aria-expanded="false">Top Users<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-laeblledby="menu1">
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users', attri = 'top_10_agrees')}}">Top 10 Agrees</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users' , attri = 'top_10_thanks')}}">Top 10 Thanks</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users' , attri = 'top_10_followers')}}">Top 10 Followers</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users' , attri = 'top_10_followees')}}">Top 10 Followees</a></li>
            </ul>
          </li>
          <li {% if request.path == "/contents" %} class="active"{% endif%} class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu2" type="button" role="button" aria-haspopup="true"
            aria-expanded="false">Top Contents<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-laeblledby="menu2">
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_contents', attri = 'top_10_questions')}}">Top 10 Questions</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_contents', attri = 'top_10_answers')}}">Top 10 Answers</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_contents', attri = 'top_keywords')}}">Top Keywords</a></li>
            </ul>
          </li>
          <li {% if request.path == "/about" %} class="active"{% endif%}><a href="{{url_for('show_about')}}">About</a></li>
          <li>
            <form action="{{ url_for('get_person') }}" method=get class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" placeholder="Find User using UID or username" name = "uid" class="form-control">
                <input type="hidden" name="attri" value="timelines">
              </div>
              <button type="submit" class="btn btn-primary">Find</button>
            </form>
          </li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div align="center" class="container theme-showcase" role="main">
    <ul class=glob>

      <div class="jumbotron" style="background-color:#333">
        <h1 style="color:white">Welcome to Zhihu Analytic Service</h1>
        <p style="color:white"> Have fun exploring your statistics at Zhihu </p>
        <div class="row">
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Ave Thanks</h3>
              </div>
              <div class="panel-body">
                {{glob.global_par.average_thanks}}
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total Thanks</h3>
              </div>
              <div class="panel-body">
                {{glob.global_par.total_thanks}}
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Ave Agrees</h3>
              </div>
              <div class="panel-body">
                {{glob.global_par.average_agrees}}
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total Agrees</h3>
              </div>
              <div class="panel-body">
                {{glob.global_par.total_agrees}}
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total Users</h3>
              </div>
              <div class="panel-body">
                {{glob.total_users}}
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Total QA</h3>
              </div>
              <div class="panel-body">
                {{glob.total_questions}}
              </div>
            </div>
          </div><!-- /.col-sm-4 -->
        </div>
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li style="font-size:20px" class="active"><a href="#recommendations" role="tab" data-toggle="tab">Recommendations</a></li>
        <li style="font-size:20px"><a href="#socialgraph" role="tab" data-toggle="tab">Random Social Graph</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="recommendations">
          <h1><span class="label label-primary">Random recommendations</span></h1>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic" data-slide-to="5"></li>
              <li data-target="#carousel-example-generic" data-slide-to="6"></li>
              <li data-target="#carousel-example-generic" data-slide-to="7"></li>
              <li data-target="#carousel-example-generic" data-slide-to="8"></li>
              <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div align="center" class="item active">
                <h2 style="color:white">{{glob.random_users[0][1]}}</h2>
                <h3 style="color:white">{{glob.random_users[0][2]}} agrees, {{glob.random_users[0][3]}} followers</h3>
                <a href = "{{url_for('get_person', uid = glob.random_users[0][0], attri = 'timelines')}}" method=get>
                  <img height="300" width="300" src="{{url_for('show_figure', uid = glob.random_users[0][0])}}" alt="user-fig">
                </a>
              </div>
              {%for u in glob.random_users[1:]%}
              <div align="center" class="item">
                <h2 style="color:white">{{u[1]}}</h2>
                <h3 style="color:white">{{u[2]}} agrees, {{u[3]}} followers</h3>
                <a href = "{{url_for('get_person', uid = u[0], attri = 'timelines')}}" method=get>
                  <img height="300" width="300" src="{{url_for('show_figure', uid = u[0])}}" alt="user-fig">
                </a>
              </div>
              {%endfor%}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
          </div>

          <h1><span class="label label-primary">Top 10 Questions</span></h1>
          <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="5"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="6"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="7"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="8"></li>
              <li data-target="#carousel-example-generic2" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div align="center" class="item active">
                <h2 style="color:white">Top 10 Questions</h2>
                <img height="300" width="300"  src="{{url_for('static', filename = 'figures/questions.gif')}}">
              </div>
              {%for d in glob.top_10_questions%}
              <div align="center" class="item">
                <a href = "{{url_for('get_question', qid = d.qid)}}" method=get><h2 style="color:white">{{d.title}}</h2></a>
                <h3 style="color:white">Number of Answers: {{d.anum}}</h3>
                <h3 style="color:white">{{d.question}}</h3>
                <img height="300" width="300"  src="{{url_for('static', filename = 'figures/questions.gif')}}">
              </div>
              {%endfor%}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
          </div>

          <h1><span class="label label-primary">Top 10 Answers</span></h1>
          <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="2"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="3"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="4"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="5"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="6"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="7"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="8"></li>
              <li data-target="#carousel-example-generic3" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div align="center" class="item active">
                <h2 style="color:white">Top 10 Answers</h2>
                <img height="300" width="300"  src="{{url_for('static', filename = 'figures/answers.png')}}">
              </div>
              {%for d in glob.top_10_answers%}
              <div align="center" class="item">
                <a href = "{{url_for('get_question', qid = d.qid)}}" method=get> <h2 style="color:white">{{d.title}}</h2></a>
                <h3 style="color:white">Number of Agrees: {{d.answers.agrees}}</h3>
                <h3 style="color:white">{{d.answers.text}}</h3>
                <img height="300" width="300"  src="{{url_for('static', filename = 'figures/answers.png')}}">
              </div>
              {%endfor%}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic3" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic3" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only"></span>
            </a>
          </div>
        </div>
        <div class="tab-pane fade in active" id="socialgraph">
          <h2 style="color:white">Social Graph for {{glob.random_users[0][1]}}</h2>
          <h3>
            <form action="{{ url_for('get_person')}}" method=get class="form-inline" role="form">
              <div class="form-group" style="color:white">
                <input type="text" placeholder="UID or username" name = "uid" class="form-control" style="color:black">
                <input type="hidden" name="attri" value="socialgraph">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </h3>
          <p6></p6>
          <style>
          .link {
            fill: none;
            stroke: #888;
            stroke-width: 1.5px;
          }
          .node circle
          {
            fill: steelblue;
            stroke: blue;
            stroke-width: 1.5px;
          }
          .node text
          {
            pointer-events: none;
            font: 20px sans-serif;
            color: white;
          }
          </style>
          <script>
          var uid = "{{glob.random_users[0][0]}}";
          var width = 1500,
          height = 1000
          var svg = d3.select("p6").append("svg")
          .attr("width", width)
          .attr("height", height);
          var force = d3.layout.force()
          .gravity(.05)
          .distance(200)
          .charge(-500)
          .size([width, height]);
          d3.json("/get_json?uid=" + uid, function(error, json) {
            force
            .nodes(json.nodes)
            .links(json.links)
            .start();
            var link = svg.selectAll(".link")
            .data(json.links)
            .enter().append("line")
            .attr("class", "link");
            var node = svg.selectAll(".node")
            .data(json.nodes)
            .enter().append("g")
            .attr("class", "node")
            .call(force.drag);
            node.append("circle")
            .attr("r", 24);
            node.append("text")
            .attr("dx", 50)
            .attr("dy", ".35em")
            .text(function(d) { return d.name });
            force.on("tick", function()
            {
              link.attr("x1", function(d) { return d.source.x; })
              .attr("y1", function(d) { return d.source.y; })
              .attr("x2", function(d) { return d.target.x; })
              .attr("y2", function(d) { return d.target.y; });
              node.attr("transform", function(d)
              {
                return "translate(" + d.x + "," + d.y + ")";
              })
            });
          });
          </script>
        </div>
      </div>


    </ul>
  </div>



  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
  <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/docs.min.js')}}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{url_for('static', filename = 'js/ie10-viewport-bug-workaround.js')}}"></script>
</body>
</html>
