<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Zhihu Analytics Service</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }} " rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="{{ url_for('static', filename='bootstrap-theme.min.css') }} " rel="stylesheet">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='theme.css') }} " rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="{{url_for('static', filename = 'js/d3.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3.node.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3-cloud-master/index.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/d3-cloud-master/build/d3.layout.cloud.js')}}"></script>
</head>

<body role="document">
  <script>d3.select("body").style("background-color", "#333");</script>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if request.path == "/" %} class="active"{% endif%} ><a href="{{url_for('show_msg')}}">Home</a></li>
          <li {% if request.path == "/top_users" %} class="active"{% endif%} class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu1" type="button" role="button" aria-haspopup="true"
            aria-expanded="false">Top Users<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-laeblledby="menu1">
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users', attri = 'top_10_agrees')}}">Top 10 Agrees</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users' , attri = 'top_10_thanks')}}">Top 10 Thanks</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users' , attri = 'top_10_followers')}}">Top 10 Followers</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_users' , attri = 'top_10_followees')}}">Top 10 Followees</a></li>
            </ul>
          </li>
          <li {% if request.path == "/top_contents" %} class="active"{% endif%} class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu2" type="button" role="button" aria-haspopup="true"
            aria-expanded="false">Top Contents<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-laeblledby="menu2">
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_contents', attri = 'top_10_questions')}}">Top 10 Questions</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_contents', attri = 'top_10_answers')}}">Top 10 Answers</a></li>
              <li role="presetation"><a role="menuitem" tabindex="-1" href="{{url_for('get_top_contents', attri = 'top_keywords')}}">Top Keywords</a></li>
            </ul>
          </li>
          <li {% if request.path == "/about" %} class="active"{% endif%}><a href="{{url_for('show_about')}}">About</a></li>
          <li>
            <form action="{{ url_for('get_person') }}" method=get class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" placeholder="Find User using UID or username" name = "uid" class="form-control">
                <input type="hidden" name="attri" value="timelines">
              </div>
              <button type="submit" class="btn btn-primary">Find</button>
            </form>
          </li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container theme-showcase" role="main">
    <ul class=user>
      <div align="center" class="row">
        <div class="col-md-6">
          <h2 style="color:white" align="center">{{ user.name }}</h2>
          <img height="150" width="150" src="{{url_for('show_figure', uid = user.uid)}}" class="img-thumbnail" alt="user-fig">
          <div class="panel-body">
            <h2>
              <span class="label label-default">UID: {{user.uid}}</span>
            </h2>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Agrees</h3>
            </div>
            <div class="panel-body">
              <h2>
                <span class="label label-default">{{user.agrees}}</span>
              </h2>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Thanks</h3>
            </div>
            <div class="panel-body">
              <h2>
                <span class="label label-default">{{user.thanks}}</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Followees</h3>
            </div>
            <div class="panel-body">
              <h2>
                <span class="label label-default">{{user.followees_num}}</span>
              </h2>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Followers</h3>
            </div>
            <div class="panel-body">
              <h2>
                <span class="label label-default">{{user.followers_num}}</span>
              </h2>
            </div>
          </div>
        </div>
      </div>

      <ul class="nav nav-pills">
        <li style="font-size:16x" {% if user.attri == 'timelines' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'timelines') }}">Timelines</a></li>
        <li style="font-size:16x" {% if user.attri == 'followees' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'followees') }}">Followees</a></li>
        <li style="font-size:16x" {% if user.attri == 'followers' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'followers') }}">Followers</a></li>
        <li style="font-size:16x" {% if user.attri == 'answers' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'answers') }}">Answers</a></li>
        <li style="font-size:16x" {% if user.attri == 'questions' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'questions') }}">Questions</a></li>
        <li style="font-size:16x" {% if user.attri == 'answers keywords' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'answers keywords') }}">Answers Keywords</a></li>
        <li style="font-size:16x" {% if user.attri == 'timelines keywords' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'timelines keywords') }}">Timelines Keywords</a></li>
        <li style="font-size:16x" {% if user.attri == 'socialgraph' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'socialgraph') }}">Social Graph</a></li>
        <li style="font-size:16x" {% if user.attri == 'update' %} class="active"{% endif%} role="presentation"><a href="{{ url_for('get_person', uid = user.uid, attri = 'update') }}">Update</a></li>
      </ul>
      <ul class="list-group">
        {% if user.attri == 'followees' or user.attri == 'followers'%}
        {% for d in user[user.attri] %}
        {% if (loop.index-1) % 6 == 0 %}
        <div class="row">
          {%endif%}
          <div style="background-color:#333" class="col-sm-2">
            <li style="background-color:#333" class="list-group-item">
              <h5 style="color:white" class="list-group-item-heading">{{user.fns[d]}}</h5>
              <p style="background-color:#333" class="list-group-item-text">
                <a href = "{{url_for('get_person', uid = d, attri = 'timelines')}}" method=get>
                  <img src="{{url_for('show_figure', uid = d)}}" class="img-thumbnail" alt="user-fig">
                </a>
              </p>
            </li>
          </div>
          {% if loop.index % 6 == 0 %}
        </div>
        {%endif%}
        {% endfor %}
        {% endif %}
        {% if user.attri == 'questions'%}
        {% for d in user.qs %}
        <li class="list-group-item">
          <a href = "{{url_for('get_question', qid = d.qid)}}" method=get><h2 class="list-group-item-heading">{{d.title}}</h2></a>
          <p class="list-group-item-text">{{d.question}}</p>
        </li>
        {% endfor %}
        {% endif %}
        {% if user.attri == 'answers'%}
        {% for d in user.answers %}
        <li class="list-group-item">
          <a href = "{{url_for('get_question', qid = d.qid)}}" method=get><h2 class="list-group-item-heading">{{d.title}}</h2></a>
          <p class="list-group-item-text">{{d.text}}</p>
        </li>
        {% endfor %}
        {% endif %}
        {% if user.attri == 'timelines'%}
        {% for d in user.timelines %}
        <li class="list-group-item">
          <a href = "{{url_for('get_question', qid = d.qid)}}" method=get><h2 class="list-group-item-heading">{{d.title}}</h2></a>
          <p class="list-group-item-text">{{d.text}}</p>
        </li>
        {% endfor %}
        {% endif %}
        {% if user.attri == 'answers keywords' or user.attri == 'timelines keywords'%}
        <p2 align="center">

        </p2>
        <script>
        var frequency_list = [];
        {% for kw in user.keywords %}
        frequency_list.push({"text" : {{kw.text|tojson}}, "size" : {{kw.size|tojson}}});
        {% endfor %}
        var color = d3.scale.category20();

        d3.layout.cloud().size([1000, 1000])
        .words(frequency_list)
        .rotate(0)
        .fontSize(function(d) { return d.size; })
        .on("end", draw)
        .start();

        function draw(words) {
          d3.select("body").select("p2").append("svg")
          .attr("width", 1000)
          .attr("height", 800)
          .attr("class", "wordcloud")
          .append("g")
          // without the transform, words words would get cutoff to the left and top, they would
          // appear outside of the SVG area
          .attr("transform", "translate(400, 350)")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .style("font-size", function(d) { return d.size + "px"; })
          .style("fill", function(d, i) { return color(i); })
          .attr("transform", function(d) {
            return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) { return d.text; });
        }

        </script>
        {% endif %}
        {% if user.attri == 'update'%}
        <div class="alert alert-success" role="alert">
          <strong>System updating user!</strong> Please allow 2-3 minutes for user crawling.
        </div>
        {% endif %}
        {% if user.attri == 'socialgraph'%}
        <p6></p6>
        <style>
        .node {
          stroke: #fff;
          stroke-width: 0.1px;
        }

        .link {
          stroke: #999;
          stroke-opacity: .6;
        }
        .node text
        {
          pointer-events: none;
          font: 20px sans-serif;
          color: white;
        }
        </style>
        <script>
        var uid = "{{user.uid}}"
        var width = 1500,
        height = 1000

        var color = d3.scale.category10();
        var domain = [0,1,2,3]
        color.domain(domain)

        var force = d3.layout.force()
        .charge(-500)
        .linkDistance(200)
        .gravity(.05)
        .size([width, height]);

        var svg = d3.select("p6").append("svg")
        .attr("width", width)
        .attr("height", height);

        d3.json("/get_json?uid=" + uid, function(error, graph) {
          if (error) throw error;

          force
          .nodes(graph.nodes)
          .links(graph.links)
          .start();

          var link = svg.selectAll(".link")
          .data(graph.links)
          .enter().append("line")
          .attr("class", "link")
          .style("stroke-width", function(d) { return d.value; });

          var node = svg.selectAll(".node")
          .data(graph.nodes)
          .enter().append("g")
          .attr("class", "node")
          .call(force.drag);

          node.append("circle")
          .attr("r", 15).style("fill", function(d) { return color(d.group); });

          node.append("text")
          .attr("dx", 20)
          .attr("dy", ".15em")
          .text(function(d) { return d.name });

          force.on("tick", function()
          {
            link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
            node.attr("transform", function(d)
            {
              return "translate(" + d.x + "," + d.y + ")";
            })
          });
        });
        </script>
        {% endif %}
      </ul>
    </ul>

  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="jquery.min.js"><\/script>')</script>
  <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/docs.min.js')}}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{url_for('static', filename = 'js/ie10-viewport-bug-workaround.js')}}"></script>
</body>
</html>
